.titulo{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-style: 25px;
}

.btn{
    font-family: "Lato", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 17px;
}

.hero-frame{
    height: 56vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(98, 30, 226, 0.2);
}

.hero img, .hero{
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

@media (max-width: 576px) {
    .hero-frame{
        height: 50vh;

    }
    
}

#root{
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10vh;

}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}





