.titulo{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-style: 25px;
}

.btn{
    font-family: "Lato", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 17px;
}

.hero-frame{
    height: 56vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(98, 30, 226, 0.2);
}

.hero.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width) {
    .hero-frame{
        height: 50vh;

    }
    
}

